body {
    background-color: grey;
}


.hide-letter {
    display: none;    
}

.letter-container {
    margin: 2px;
    display: flex;
}

#answer {
    display: flex;
    justify-content: center;
    font-size: 23px;
}

.under-letter {
    position: absolute;
    font-size: 23px;
}

#winner {
    display: none;
}

#loser {
    display: none;
}

#buttons {
    padding: 5px;
}